.main-forget-password {
    height: calc(100vh - 60px);

    .container-forget-password{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        gap: 2rem;
        // background-color: red;

        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }

        .form-element{
            // background-color: red;
            width: 100%;
            :nth-child(1){
                width: 100%;
            }

            .input-invalid{
                border-color: rgb(202, 35, 35);
            }

            @media (min-width: 800px) {
                width: auto;

                :nth-child(1){
                    width: 400px;
                }
            }
        }

        .form-buttons{
            display: flex;
            gap: 1rem;
        }
    }

    .loading-forget-password{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(80vh - 120px);
    }
}
