<div class="grid m-1 main-forget-password">
    <div class="col-12">
        <p-card
            styleClass="shadow-3 h-full"
            header="Esqueci Minha Senha"
        >
            <p-steps [model]="items" [activeIndex]="active" />
            <p-card
                styleClass="shadow-3 h-full mt-5"
            >
                @if (active == 0){
                    @if (isLoading){
                        <div class="loading-forget-password">
                            <app-loading />
                        </div>
                    } @else{
                        <form [formGroup]="forgetPasswordEmailForm" (ngSubmit)="onSubmitEmail()" class="container-forget-password">
                            <h2>E-mail da Conta</h2>
                            <div class="form-element">
                                <p-floatLabel>
                                    <!-- <input pInputText id="username" formControlName="username" type="text" /> -->
                                    <input pInputText id="email" formControlName="email" type="text" [ngClass]="{'input-invalid': isInvalidEmail}" />
                                    <label for="username">Email</label>
                                </p-floatLabel>
                            </div>
                            <div class="form-buttons">
                                <button
                                    pButton
                                    pRipple
                                    (click)="navigateTo('signin')"
                                    type="button"
                                    label="Voltar"
                                >
                                </button>
                                <button
                                    pButton
                                    pRipple
                                    type="submit"
                                    label="Enviar"
                                >
                                </button>
                            </div>
                        </form>
                    }
                }

                @if (active == 1){
                    @if (isLoading){
                        <div class="loading-forget-password">
                            <app-loading />
                        </div>
                    } @else {
                        <form [formGroup]="forgetPasswordHashForm" (ngSubmit)="onSubmitHashCode()" class="container-forget-password">
                            <h2>Código Recebido</h2>
                            <div class="form-element">
                                <p-floatLabel>
                                    <input pInputText id="hash" formControlName="hash" type="text" [ngClass]="{'input-invalid': isInvalidHash}" />
                                    <label for="hash">Código</label>
                                </p-floatLabel>
                            </div>
                            <div class="form-buttons">
                                <button
                                    pButton
                                    pRipple
                                    (click)="navigateTo('signin')"
                                    type="button"
                                    label="Voltar"
                                >
                                </button>
                                <button
                                    pButton
                                    pRipple
                                    type="submit"
                                    label="Validar"
                                >
                                </button>
                            </div>
                        </form>
                    }
                }

                @if (active == 2){
                    @if (isLoading){
                        <div class="loading-forget-password">
                            <app-loading />
                        </div>
                    } @else {
                        <form [formGroup]="forgetPasswordNewPasswordForm" (ngSubmit)="onSubmitNewPassword()" class="container-forget-password">
                            <h2>Nova Senha</h2>
                            <div class="form-element">
                                <p-floatLabel>
                                    <!-- <input pInputText id="username" formControlName="username" type="text" /> -->
                                    <input pInputText id="newPassword" formControlName="newPassword" type="password" [ngClass]="{'input-invalid': isInvalidNewPassword}" />
                                    <label for="newPassword">Senha</label>
                                </p-floatLabel>
                            </div>
                            <div class="form-element">
                                <p-floatLabel>
                                    <!-- <input pInputText id="username" formControlName="username" type="text" /> -->
                                    <input pInputText id="passwordConfirm" formControlName="passwordConfirm" type="password" [ngClass]="{'input-invalid': isInvalidPasswordConfirm}" />
                                    <label for="passwordConfirm">Confirmar Senha</label>
                                </p-floatLabel>
                            </div>
                            <div class="form-buttons">
                                <button
                                    pButton
                                    pRipple
                                    (click)="navigateTo('signin')"
                                    type="button"
                                    label="Voltar"
                                >
                                </button>
                                <button
                                    pButton
                                    pRipple
                                    type="submit"
                                    label="Atualizar"
                                >
                                </button>
                            </div>
                        </form>
                    }
                }
            </p-card>
        </p-card>
    </div>
</div>
