<div class="card">
  <p-toolbar
    styleClass="shadow-2"
    [hidden]="false"
  >
    <ng-template pTemplate="start">
      <app-sidebar></app-sidebar>
    </ng-template>

    <ng-template pTemplate="end">
        <div (click)="openNotification()" class="flex justify-content-center align-items-center mr-4 cursor-pointer">
          <span class="pi pi-bell notification"></span>
        </div>
        <div class="flex align-items-center justify-content-center gap-2">
          <div class="flex flex-column">
            <h3 class="font-medium">{{userData?.user?.name}} {{userData?.user?.lastName}}</h3>
            <span class="text-sm" [ngStyle]="{color: 'var(--primary-color)'}" class="font-semibold">{{userData?.user?.access?.role}}</span>
          </div>

        <p-avatar
          image='https://github.com/setxpro.png'
          shape="circle"
          [size]="'large'"
        />
        <!-- <p-avatar
          image={{userData?.user?.avatar}}
          shape="circle"
          [size]="'large'"
        /> -->
        </div>
    </ng-template>
  </p-toolbar>
</div>
